.login{
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5.5rem 2.5rem;
  background-color: #F5F5F5;
}

.login-form{
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 17.2rem;
  height: 11.8rem;
}

.login-form-title{
  color: #464646;
  font-size: 1rem;
  font-weight: 700;
}

.login-form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 100%;
  height: max-content;
  outline: none;
}

.login-form-container-input::placeholder {
  visibility: hidden;
}

.login-form-container-input:not(:placeholder-shown)+.login-form-container-label,
.login-form-container-input:focus+.login-form-container-label {
  font-size: 0.6rem !important;
  top: 0.05rem !important;
  transition: all 0.3s;
}

.login-form-container-input {
  box-sizing: border-box;
  width: 100%;
  height: 2.56rem;
  padding: 0.5rem 0.75rem;
  padding-bottom: 0;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.25rem;
  border: none;
  border-radius: 0.25rem;
  border-bottom: 1px solid #C8C8C8;
  outline: none;
  color: #464646;
}

.login-form-container-label {
  position: absolute;
  top: 0.5rem;
  left: 0.75rem;
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  transition: all 0.3s;
  color: #A2A2A2;
}

.login-form-button {
  width: 8.31rem;
  height: 2.5rem;
  background-color: #2A7AE4;
  color: #fff;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
}


@media only screen and (min-width: 1024px) {

  .login-form{
    width: 26.4375rem;
    height: 18.1875rem;
  }

  .login-form-title{
    font-size: 1.125rem;
  }

  .login-form-container-input:not(:placeholder-shown)+.login-form-container-label,
  .login-form-container-input:focus+.login-form-container-label {
    font-size: 0.85rem !important;
    top: 0.2rem !important;
    transition: all 0.3s;
  }

  .login-form-container-input{
    height: 3.95rem;
    font-size: 1rem;
  }

  .login-form-container-label{
    top: 1.13rem;
  }

  .login-form-button{
    width: 100%;
    height: 3.875rem;
  }
}