.searchedProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F5F5F5;
  row-gap: 1rem;
  width: 100%;
  height: auto;
  padding: 2rem;
  box-sizing: border-box;
}


@media only screen and (min-width: 1440px) {
  .searchedProducts{
    padding: 4rem 9.5rem;
  }
}